/*** GENERAL ***************************************************/
:root {
  --header-height: 38px;
  --section-height: calc(100vh - var(--header-height));
  --max-width: 1280px;
  --about-bands: 12%;
  --main-margin: 15px;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
main {
  flex: 1;
}

/*** HEADER ***************************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 3;
}
#texture-header {
  position: absolute;
  height: 100%;
  width: 100%;
}
#title {
  display: flex;
  align-items: center;
  z-index: 4;
}
header img {
  height: 18px;
  margin-left: 15px;
  margin-right: 9px;
}
nav {
  height: 100%;
  display: flex;
  align-content: center;
}
nav a {
  height: 100%;
  align-content: center;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

/*** ANCHORS OFFSETTING ***************************************************/
#home-a,
#about-a,
#skills-a,
#examples-a,
#contact-a {
  display: block;
  position: relative;
  top: calc(-1 * var(--header-height));
  visibility: hidden;
}

/*** HOME BANNER ***************************************************/
#home {
  margin-top: var(--header-height);
  display: flex;
  justify-content: center;
  position: relative;
  height: var(--section-height);
}
#home img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.filter {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content-banner {
  width: 600px;
  margin: 0px var(--main-margin);
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home p {
  margin-top: 20px;
  margin-bottom: 30px;
}
#buttons-section {
  display: flex;
  justify-content: center;
}
#home a,
#home button {
  height: 30px;
  width: 110px;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  display: flex;
  border: none;
}
#home a {
  margin-right: 25px;
}
#home button:hover {
  cursor: pointer;
}
#home button img {
  position: relative;
  width: 20px;
  height: 16px;
  margin-right: 6px;
  top: -1px;
  left: -1px;
}

/*** ABOUT ***************************************************/
#about {
  display: flex;
  position: relative;
  height: var(--section-height);
  align-items: center;
  justify-content: center;
}
.background {
  position: absolute;
  width: 100%;
}
.texture-grain {
  position: absolute;
  width: 100%;
}
#about .background,
#about .texture-grain {
  margin: var(--about-bands) 0px;
  height: calc(var(--section-height) - 2 * var(--about-bands));
}
#content-about {
  z-index: 1;
  width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2 * var(--about-bands));
  margin: var(--about-bands) var(--main-margin);
}
#photo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-left: 50px; */
  margin-right: 100px;
}
#bloc-photo {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  /* align-items: center;
  flex-direction: column; */
}
#photo img {
  margin-top: 5%;
  object-fit: cover;
  width: 90%;
  height: 80%;
  z-index: 2;
  position: relative;
}
/* #bloc-photo p {
  text-align: center;
  vertical-align: center;
  margin-top: 10px;
  height: 10%;
  font-size: 14px;
  font-weight: 600;
} */
#text-about {
  width: 38%;

  display: flex;
  flex-direction: column;
}
#about h2 {
  margin-bottom: 30px;
}
#about h2::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 6px;
}
#about p {
  width: 100%;
}

/*** SKILLS ***************************************************/
#skills {
  display: flex;
  flex-direction: column;
  height: var(--section-height);
  align-items: center;
  width: 100%;
  justify-content: center;
}
.background {
  height: var(--section-height);
}
.texture-grain {
  height: var(--section-height);
}
#skills-content {
  z-index: 1;
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  height: 100%;
  margin: 0px var(--main-margin);
}
#skills h2 {
  display: flex;
  justify-content: center;
  position: relative;
  /* margin-bottom: 62px; */
  margin-bottom: 38px;
}
.title::before,
.title::after {
  content: "";
  display: block;
  position: absolute;
  width: 125%;
  height: 5px;
}
.title::before {
  top: -12px;
}
.title::after {
  top: 38px;
}
#skills-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 15px;
}
#skills h3 {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  /* margin-bottom: 50px; */
  margin-top: 20px;
  margin-bottom: 35px;
}
#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
}
#skills li {
  flex-basis: 30%;
  text-align: center;
}
#skills img {
  width: 100%;
  height: 30px;
}
#skills h4 {
  margin-top: 5px;
  /* margin-bottom: 30px; */
  margin-bottom: 32px;
}
#skills p {
  margin-top: 11px;
  /* margin-top: 28px; */
  width: 80%;
  text-align: center;
}

/*** EXAMPLES ***************************************************/
#examples {
  display: flex;
  flex-direction: column;
  height: var(--section-height);
  align-items: center;
  width: 100%;
  justify-content: center;
}
#examples-content {
  z-index: 1;
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px var(--main-margin);
}
#examples h2 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 42px;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 30px;
  width: 90%;
}
#examples article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#examples img {
  width: 100%;
  height: 100%;
  position: relative;
}
#examples img:hover {
  cursor: pointer;
}
#examples img:hover::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(240, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#examples h3 {
  margin-top: 8px;
}

/*** CONTACT ***************************************************/
#contact {
  display: flex;
  flex-direction: column;
  height: var(--section-height);
  align-items: center;
  width: 100%;
  justify-content: center;
}
#contact-content {
  z-index: 1;
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px var(--main-margin);
}
#contact h2 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 38px;
}
