/*** GENERAL ***************************************************/
:root {
  --white: white;
  --black: rgb(20, 19, 19);
}

/*** HEADER ***************************************************/
header {
  /* color: var(--white); */
  color: rgb(221, 217, 217);
  /* background-color: rgb(29, 29, 29); */
  background-color: rgb(29, 26, 26);
  /* background: radial-gradient(ellipse at 25% 50%, #71baeb 0%, rgb(10, 85, 184) 100%); */
  /* background: radial-gradient(ellipse at 25% 50%, #272929 0%, rgb(14, 13, 13) 100%); */
}
#texture-header {
  /* background-image: url("./textures/light-wool.png"); */
  /* background-image: url("./textures/hixs-evolution.png"); */
  /* background-image: url("./textures/diamond-upholstery.png"); */

  /* background-image: url("./textures/crissxcross.png"); */
  /* background-image: url("./textures/diagmonds-light.png"); */
  /* background-image: url("./textures/shattered.png"); */
  /* background-image: url("./textures/shattered-dark.png"); */
  /* background-image: url("./textures/random-grey-variations.png"); */
  /* background-image: url("./textures/stardust.png"); */

  background-image: url("./textures/axiom-pattern.png");
  background-repeat: repeat;
  opacity: 0.25;
}

nav a {
  border-left: 2px solid rgb(175, 169, 169);
}

/*** HOME BANNER ***************************************************/
.filter {
  background-color: var(--black);
  opacity: 60%;
}
.content-banner {
  color: var(--white);
}
#home a,
#home button {
  color: var(--white);
  background: radial-gradient(ellipse at center, #ff4848 0%, #ee3838 100%);
}

/*** ABOUT ***************************************************/
#about {
  background: radial-gradient(circle at center, rgb(30, 30, 31) 0%, #2c2c2c 50%, rgb(24, 23, 23));
}
#about .background {
  /* background: radial-gradient(circle at center, rgb(110, 190, 236) 0%, rgb(67, 129, 167) 100%); */
  background: radial-gradient(circle at center, rgb(235, 217, 57) 0%, rgb(207, 205, 45) 100%);
}
.texture-grain {
  background-image: url("./textures/texturetastic-gray.png");
  background-repeat: repeat;
  opacity: 0.8;
}
#bloc-photo {
  background: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 85%, rgb(241, 239, 239) 92%, rgb(206, 204, 204) 100%);
  border-radius: 15px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
#photo img {
  /* border: 8px solid var(--white); */
  border-radius: 15px;
}
#text-about {
  color: var(--black);
  /* background-color: #ffffff18;
  border-radius: 10px;
  padding: 15px; */
}
#about h2::after {
  background-color: var(--black);
}
/* #about-p {
  background-color: #ffffff21;
  border-radius: 10px;
  padding: 15px;
} */

/*** SKILLS ***************************************************/
#skills {
  color: var(--white);
}
#skills .background {
  background: radial-gradient(circle at center, rgb(110, 190, 236) 0%, rgb(67, 129, 167) 100%);
}
#skills .title::before,
#skills .title::after {
  background-color: var(--white);
}
#skills-left,
#skills-center,
#skills-right {
  background-color: rgba(255, 255, 255, 0.11);
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
#skills-left,
#skills-center {
  /* border-right: 2px dotted rgba(255, 255, 255, 0.205); */
  /* border-right: 2px solid rgba(0, 0, 0, 0.219); */
  /* border-right: 1px solid var(--white); */
}
/* #skills h3, */
/* #skills p, */
#skills h4 {
  color: var(--black);
}

/*** EXAMPLES ***************************************************/
#examples {
  color: var(--black);
}
#examples .title::before,
#examples .title::after {
  background-color: var(--black);
}
#examples .background {
  background: radial-gradient(circle at center, rgb(214, 218, 221) 0%, rgb(158, 159, 160) 100%);
}

/*** CONTACT ***************************************************/
#contact {
  color: var(--black);
}
#contact .title::before,
#contact .title::after {
  background-color: var(--black);
}
#contact .background {
  background: radial-gradient(circle at center, rgb(100, 121, 212) 0%, rgb(35, 56, 170) 100%);
}
