/*** GENERAL ***************************************************/
:root {
  --font-main: "name", sans-serif;
}
html {
  font-size: 18px;
  font-family: "Arial";
}

/*** HEADER ***************************************************/
h1 {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}
nav {
  font-size: 14px;
  font-weight: 600;
}

/*** HOME BANNER ***************************************************/
#home h2 {
  font-size: 40px;
  font-weight: 800;
}
#home p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
#home a,
#home button {
  font-size: 16px;
  font-weight: 600;
}

/*** ABOUT ***************************************************/
#about h2 {
  font-size: 28px;
  font-weight: 800;
}
#text-about p {
  font-size: 22px;
  font-weight: 400;
}

/*** SKILLS ***************************************************/
#skills h2 {
  font-size: 26px;
  font-weight: 800;
}
#skills h3 {
  font-size: 26px;
  font-weight: 600;
  text-decoration: underline;
}
.info-bubble {
  font-size: 14px;
  font-weight: 200;
}
#skills h4 {
  font-size: 18px;
  font-weight: 600;
}
#skills p {
  font-size: 22px;
  font-weight: 400;
  /* background-color: rgba(255, 255, 255, 0.226);
  padding: 15px;
  border-radius: 15px; */
}

/*** EXAMPLES ***************************************************/
#examples h2 {
  font-size: 26px;
  font-weight: 800;
}
#examples h3 {
  font-size: 18px;
  font-weight: 500;
}

/*** CONTACT ***************************************************/
#contact h2 {
  font-size: 26px;
  font-weight: 800;
}
