:root {
  /* ==== Sizes ==== */
  --slide-bands-height: 12%;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--section-height);
  color: var(--black);
  /* background: rgb(27, 27, 29); */
  background: radial-gradient(ellipse at center, rgb(30, 30, 31) 0%, #2c2c2c 50%, rgb(24, 23, 23));
}

#about .background {
  /* background-color: rgb(241, 222, 47); */
  background: radial-gradient(ellipse at center, rgb(245, 230, 98) 0%, rgb(207, 192, 56) 100%);
}

#about .background,
#texture-static {
  margin: var(--slide-bands-height) 0px;
  height: calc(var(--section-height) - 2 * var(--slide-bands-height));
}

#texture-static {
  position: absolute;
  width: 100%;
  background-image: url("../assets/textures/static.png");
  background-repeat: repeat;
  opacity: 0.8;
}

#about-content {
  z-index: 1;
  width: var(--slide-max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2 * var(--slide-bands-height));
  margin: var(--slide-bands-height) var(--slide-side-margin);
}

#about-block-photo {
  transform: rotate(-5deg);
  width: 238px;
  height: 272px;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at center, rgb(238, 238, 238) 0%, rgb(236, 236, 236) 85%, rgb(209, 209, 209) 100%);
  border-radius: 15px;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.233);
  margin-left: 20px;
  margin-right: 65px;
}

#about-block-photo img {
  margin-top: 5%;
  object-fit: cover;
  width: 90%;
  height: 81%;
  position: relative;
  border-radius: 15px;
  border: 1px solid rgb(204, 204, 204);
}

#about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px;
}

#about-text h2 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 800;
}

#about-text h2::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 6px;
  background-color: var(--black);
}

#about-text p {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  hyphens: auto;
}
