@media (max-width: 768px) {
  #about {
    height: auto;
    position: relative;
    min-height: var(--section-height);
  }

  #about .background {
    /* position: absolute; */
    /* height: calc(100% - 120px); */
    /* height: 100%; */
  }

  /* #texture-static {
    height: calc(100% - 120px);
  } */

  #about-content {
    flex-direction: column;
    margin: 0px;
    margin-top: 70px;
    padding-bottom: 50px;
  }

  #about-block-photo {
    width: 200px;
    height: 230px;
    margin: 0px;
    margin-bottom: 65px;
    transform: rotate(0deg);
  }

  #about-text {
    width: calc(100% - 40px);
    /* padding: 0px 70px; */
    box-sizing: border-box;
    margin: 0px 20px;
  }

  #about-text h2 {
    width: 100%;
  }

  #about-text p {
    width: 100%;
  }
  #about-text p:last-child {
    /* margin-bottom: 140px; */
  }
}

@media (max-width: 450px) {
  #about-block-photo {
    width: 190px;
    height: 220px;
  }
}
