.background-hidden {
  visibility: hidden;
}

#about-content {
  z-index: 1;
  width: var(--slide-max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: calc(100% - 2 * var(--slide-bands-height));
  margin: var(--slide-bands-height) var(--slide-side-margin);
}

#about-block-photo {
  transform: rotate(-5deg);
  /* width: 238px;
  height: 272px; */
  width: 235px;
  height: 270px;
  display: flex;
  justify-content: center;
  /* background: radial-gradient(circle at center, rgb(238, 238, 238) 0%, rgb(236, 236, 236) 85%, rgb(209, 209, 209) 100%); */
  background: radial-gradient(circle at center, rgb(230, 230, 230) 85%, rgb(158, 158, 158) 100%);
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-right: 145px;
  border: 1px solid rgb(124, 124, 124);
}

#about-block-photo img {
  margin-top: 5%;
  object-fit: cover;
  width: 90%;
  height: 81%;
  position: relative;
  border-radius: 10px;
  /* border: 1px solid rgb(204, 204, 204); */
  border: 1px solid rgb(204, 203, 203);
}

#about-text {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 20px;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.123) 0%, rgba(255, 255, 255, 0.075) 100%);
  max-height: 80%;
  position: relative;
}

#about-text-p::-webkit-scrollbar {
  display: none;
}

#about-text h2 {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 800;
}

#about-text h2::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 5px;
  background-color: var(--white);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255, 0.8) 100%);
  /* background-color: var(--black); */
}

#about-text-p {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

#about-text p {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  hyphens: auto;
}

#about-text-p div {
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 25px;
  line-height: 1.2;
}

#about-text-p div:last-child {
  margin-bottom: 15px;
}

#about-text-p img {
  height: 34px;
  display: none;
}

.left-img {
  margin-right: 30px;
  margin-left: 5px;
}

.right-img {
  margin-left: 30px;
  margin-right: 5px;
}
