@media (max-width: 1440px) {
  .footer-margin-for-tablet-desktop {
    margin-bottom: var(--footer-height-1440);
  }
}

@media (max-width: 1024px) {
  .footer-margin-for-tablet-desktop {
    margin-bottom: var(--footer-height-1024);
  }
}

@media (max-height: 768px) {
  .footer-margin-for-tablet-desktop {
    margin-bottom: var(--footer-height-768-H);
  }
}

@media (max-height: 590px), (max-width: 768px) {
  .footer-margin-for-tablet-desktop {
    /* margin-bottom: var(--footer-height-on-mobile); */
    margin-bottom: 0;
  }

  #contact-content {
    width: 100%;
  }

  #contact-form {
    width: 100%;
    max-width: 425px;
    padding: 0 60px;
    box-sizing: border-box;
  }

  #contact-form button {
    width: auto;
    margin-bottom: 50px;
    padding: 7px 20px;
  }
}

@media (max-width: 475px) {
  #contact-full-name {
    flex-direction: column;
  }
}
