@media (max-width: 1440px) {
  footer {
    height: var(--footer-height-1440);
  }

  #footer img {
    height: 21px;
  }
}

@media (max-width: 1024px) {
  footer {
    height: var(--footer-height-1024);
  }

  #footer img {
    height: 20px;
  }
}

@media (max-height: 768px) {
  footer {
    height: var(--footer-height-768-H);
  }

  #footer img {
    height: 19px;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  footer {
    height: var(--footer-height-on-mobile);
  }

  #footer img {
    height: 18px;
  }
}

@media (max-width: 475px) {
  #footer a {
    margin-right: 38px;
  }

  #footer a:last-child {
    margin-right: 0px;
  }
}
