:root {
  /* ==== Media Queries ==== */
  --mq-mobile: 768px;

  /* ==== Sizes ==== */
  --header-height-1440: 48px;
  --header-height-1024: 42px;
  --header-height-768-H: 38px;
  --header-height-on-mobile: 40px;
  --footer-height-1440: 48px;
  --footer-height-1024: 42px;
  --footer-height-768-H: 38px;
  --footer-height-on-mobile: 40px;
  --section-height-1440: calc(100dvh - var(--header-height-1440) - var(--footer-height-1440) + 4px);
  --section-height-1024: calc(100dvh - var(--header-height-1024) - var(--footer-height-1024) + 4px);
  --section-height-768-H: calc(100dvh - var(--header-height-768-H) - var(--footer-height-768-H) + 4px);
  --section-height-on-mobile: calc(100dvh - var(--header-height-on-mobile) - var(--footer-height-on-mobile));
}

@media (max-width: 1440px) {
  #home-link,
  #about-link,
  #skills-link,
  #examples-link,
  #contact-link {
    top: calc(-1 * var(--header-height-1440));
  }

  .slide {
    height: var(--section-height-1440);
  }

  .slide-title-style {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  #home-link,
  #about-link,
  #skills-link,
  #examples-link,
  #contact-link {
    top: calc(-1 * var(--header-height-1024));
  }

  .slide {
    height: var(--section-height-1024);
  }

  .slide-title-style {
    font-size: 18px;
  }

  .arrow-down {
    bottom: 8px;
    left: calc(50% - 6% - 8px);
    /* width: 12%; */
    padding: 2px 8px;
    /* border-radius: 25px; */
  }
}

@media (max-height: 768px) {
  #home-link,
  #about-link,
  #skills-link,
  #examples-link,
  #contact-link {
    top: calc(-1 * var(--header-height-768-H));
  }

  .slide {
    height: var(--section-height-768-H);
  }

  .slide-title-style {
    margin-top: 24px;
    font-size: 17px;
  }

  .slide-title-style::before,
  .slide-title-style::after {
    height: 4px;
  }

  .arrow-down {
    bottom: 8px;
  }

  .arrow-down div {
    width: 11%;
    padding: 1px 8px;
  }
}

@media (max-height: 650px) and (max-width: 850px) {
  .slide-title-style {
    font-size: 17px;
  }

  .slide-title-style::before {
    top: -18px;
  }

  .slide-title-style::after {
    bottom: -18px;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  #home-link,
  #about-link,
  #skills-link,
  #examples-link,
  #contact-link {
    /* top: calc(-1 * var(--header-height-on-mobile) -1 * var(--footer-height-on-mobile)); */
    top: 0;
  }

  .slide {
    height: auto;
    top: 0;
    /* min-height: var(--section-height-on-mobile); */
    min-height: 100vh;
  }

  .slide-title-style {
    margin-top: 100px;
    font-size: 19px;
  }

  .slide-title-style::before,
  .slide-title-style::after {
    height: 4px;
  }
}

@media (max-width: 450px) {
  .slide-title-style::before,
  .slide-title-style::after {
    width: 200px;
  }
}

/* Height */
@media (max-height: 600px) and (max-width: 320px) {
  body {
    min-width: 0;
  }
}
