:root {
  /* ==== Sizes ==== */
  --header-height: 35px;
  --section-height: calc(100vh - var(--header-height));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: var(--header-height);
  z-index: 2;
  background-color: rgb(31, 27, 27);
}

#header-title-block {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

#header-title-block img {
  height: 20px;
  margin-left: 15px;
  margin-right: 14px;
  border: 1px solid black;
}

h1 {
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
}

nav {
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  display: flex;
}

nav div {
  height: 100%;
  display: flex;
  position: relative;
}

#nav-menu-burger {
  display: none;
}

nav p,
nav a {
  height: 100%;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid var(--white);
}

nav p {
  position: absolute;
}

nav a {
  cursor: default;
  position: relative;
  z-index: 1;
  opacity: 0;
}
