header {
  filter: blur(8px);
}

.header-intro {
  animation: header-intro var(--header-animation-duration) cubic-bezier(0.46, 0.01, 0.67, 0.86) 0s 1 normal forwards;
}

@keyframes header-intro {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: none;
  }
}

#header-title-block,
nav {
  transform: scaleY(0%);
}

.elements-header-intro {
  animation: elements-header-intro var(--header-animation-duration) ease-out 0s 1 normal forwards;
}

@keyframes elements-header-intro {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}

.header-title-hover:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.205);
  animation: header-title-hover 0.525s ease-in 0s infinite alternate none;
}

@keyframes header-title-hover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.12;
  }
}

.nav-link-active {
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 3px 10px rgba(238, 238, 238, 0.205);
  opacity: 1;
}

.nav-link-hover:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 3px 10px rgba(238, 238, 238, 0.205);
  animation: nav-link-hover 0.5s ease-in-out 0s infinite alternate none;
}

@keyframes nav-link-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
