.header-margin-for-tablet-desktop {
  margin-top: var(--header-height-normal);
}

#home-content {
  width: 800px;
  margin: 0px var(--slide-side-margin);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.175;
}

#home p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 1.1;
}

#home-buttons {
  display: flex;
  justify-content: center;
}

#home-buttons a {
  height: 34px;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  font-size: 18px;
  font-weight: 600;
  background: radial-gradient(ellipse at center, #df5050 0%, #e63838 100%);
  border-radius: 30px;
}

#home-contact-button {
  margin-right: 24px;
}

#home-CV-button {
  position: relative;
}

#home-CV-button img {
  position: relative;
  width: 20px;
  height: 16px;
  margin-right: 8px;
  top: -1px;
}
