@media (max-width: 768px) {
  #about {
    height: auto;
    min-height: var(--section-height);
  }

  #home-content {
    width: 100%;
    max-width: 600px;
    padding: 0 60px;
    box-sizing: border-box;
  }

  /* #home-filter {
    height: 100%;
  } */

  #home h2 {
    width: 100%;
    text-align: center;
  }

  #home p {
    width: 100%;
  }
}

@media (max-width: 350px) {
  #home-buttons {
    flex-direction: column;
  }

  #home-contact-button {
    margin-bottom: 25px;
  }
}
