:root {
  /* ==== Info bubbles ==== */
  --info-bubbles-width: 15vw;
  --bubble-offset-x: 6;
  --bubble-offset-y: 2;
  --bubble-margin: 30;
}

.info-bubbles {
  position: absolute;
  padding: 10px;
  display: none;
  z-index: 1;
  white-space: nowrap;
  border-radius: 5px;
  background-color: rgba(20, 20, 20, 0.884);
  color: rgb(235, 223, 223);
  font-size: 14px;
  font-weight: 200;
}

.info-bubble-width-unset {
  width: "";
  white-space: nowrap;
}

.info-bubble-width-max {
  width: var(--info-bubbles-width);
  white-space: normal;
}
