@media (max-width: 1440px) {
  #modal-screen {
    height: var(--section-height-1440);
  }
}

@media (max-width: 1024px) {
  #modal-screen {
    height: var(--section-height-1024);
  }
}

@media (max-height: 590px), (max-width: 768px) {
  #modal-screen {
    height: var(--section-height-on-mobile);
    margin-top: var(--header-height-on-mobile);
  }

  #modal {
    height: 85%;
    max-height: none;
    width: 70%;
    max-width: none;
  }

  #modal-image-section {
    height: 100px;
  }

  #modal-buttons-section h4,
  #modal-buttons-section p {
    border-radius: 25px;
  }

  .modal-buttons-text {
    display: none;
  }

  .modal-buttons-images {
    height: 16px;
    display: flex;
  }
}
