@media (max-width: 1440px) {
  #skills-content .slide-title-style {
    margin-bottom: 70px;
  }

  #skills-trees {
    width: 90%;
    gap: 0 25px;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    padding: 30px 5px 35px 5px;
  }

  #skills-trees h3 {
    margin-bottom: 32px;
    font-size: 23px;
  }

  .skills-items-div img {
    height: 36px;
  }

  .skills-items-div h4 {
    font-size: 18px;
  }

  #skills-content > p {
    margin-top: 57px;
    width: 60%;
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  #skills-content .slide-title-style {
    margin-bottom: 65px;
  }

  #skills-content .slide-title-style::before,
  #skills-content .slide-title-style::after {
    width: 215px;
  }

  #skills-trees {
    width: 95%;
    gap: 0 22px;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    padding: 25px 2px 30px 2px;
  }

  #skills-trees h3 {
    margin-bottom: 30px;
    font-size: 22px;
  }

  #skills-trees ul {
    gap: 25px 20px;
  }

  .skills-items-div img {
    height: 36px;
  }

  .skills-items-div h4 {
    font-size: 15px;
  }

  #skills-content > p {
    margin-top: 52px;
    width: 50%;
    font-size: 20px;
  }
}

@media (max-height: 768px) {
  #skills-content .slide-title-style {
    margin-bottom: 57px;
  }

  #skills-content .slide-title-style::before,
  #skills-content .slide-title-style::after {
    width: 200px;
  }

  #skills-trees {
    width: 92%;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    padding: 25px 1px 30px 1px;
  }

  #skills-trees h3 {
    margin-bottom: 26px;
    font-size: 21px;
  }

  #skills-trees ul {
    gap: 24px 18px;
  }

  .skills-items-div img {
    height: 34px;
  }

  .skills-items-div h4 {
    font-size: 16px;
  }

  #skills-content > p {
    margin-top: 37px;
    width: 70%;
    font-size: 20px;
  }
}

@media (max-height: 650px) and (max-width: 850px) {
  #skills-content .slide-title-style {
    margin-bottom: 42px;
  }

  #skills-trees {
    width: 95%;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    padding: 20px 1px 20px 1px;
  }

  #skills-trees h3 {
    margin-bottom: 25px;
    font-size: 21px;
  }

  #skills-trees ul {
    gap: 18px 18px;
  }

  .skills-items-div img {
    height: 33px;
  }

  .skills-items-div h4 {
    font-size: 15px;
  }

  #skills-content > p {
    margin-top: 20px;
    width: 65%;
    font-size: 19px;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  #skills-content {
    margin-top: 15px;
  }

  #skills-content .slide-title-style {
    margin-bottom: 66px;
  }

  #skills-trees {
    display: flex;
    flex-direction: column;
    width: 92%;
    max-width: 450px;
    gap: 0px;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    padding: 30px 10px 34px 10px;
  }

  #skills-tree-left,
  #skills-tree-center {
    margin-bottom: 30px;
  }

  #skills-trees h3 {
    margin-bottom: 32px;
    font-size: 21px;
    font-weight: 800;
  }

  #skills-trees ul {
    gap: 26px 20px;
  }

  .skills-items-div img {
    height: 35px;
  }

  .skills-items-div h4 {
    font-size: 16px;
    font-weight: 800;
  }

  #skills-content > p {
    margin-top: 39px;
    width: 93%;
    font-size: 19px;
    margin-bottom: 95px;
  }
}
