@media (max-width: 768px) {
  #skills {
    height: auto;
    position: relative;
  }

  #skills .background {
    position: absolute;
    height: 100%;
  }

  .slide-title-style {
    margin-top: 70px;
  }

  #skills-trees {
    display: flex;
    flex-direction: column;
  }

  #skills-tree-left,
  #skills-tree-center,
  #skills-tree-right {
    margin-bottom: 30px;
  }
}
