#examples {
  display: flex;
  justify-content: center;
  height: var(--section-height);
  width: 100%;
  color: var(--black);
}

#examples .background {
  background: radial-gradient(ellipse at center, rgb(233, 227, 227) 0%, rgb(212, 205, 205) 60%, rgb(214, 205, 205) 90%);
}

#examples-content {
  width: var(--slide-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px var(--slide-side-margin);
}

#examples-content h2 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 58px;
  font-size: 26px;
  font-weight: 800;
}

#examples-content .slide-title-style::before,
#examples-content .slide-title-style::after {
  background-color: var(--black);
}

#examples-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 30px;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}

#examples-gallery article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#examples-gallery article > div {
  position: relative;
  width: 100%;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.212);
}

.examples-filters {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.73);
  color: var(--white);
}

.examples-filters img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.examples-filters p {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.examples-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#examples-gallery h3 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
